* {
    box-sizing: border-box;
    font-size: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:roo {
    --color-primary: #ED4D1B;
    --color-secundary: #FF9A3C;
    --color-black: #000;
    --color-white: #fff;
}